*
{
    margin: 20px;
}
body
{
    font-family: Impact;
    background-color: black;
}
h1
{
padding: 10px;
border: 16px;
border-style: dashed;
color : skyblue ;
text-align: center;
font-weight: 900;
text-transform: uppercase;
text-decoration: underline;
}
p
{
    background-color:gray;
    color: cornflowerblue   ;
    text-transform:capitalize ;

}
img
{
    
    width: 45%;
    height: 45%;

}
